body {
    background-color: blueviolet;
    font-family: "Sofia", sans-serif;
  }
  img {
    margin-top: 15px;
    width: 40%;
    height: 80%;
  }
  .container {
    display: flex;
    /* text-align: center; */
    font-size: 20px;
  }
  #myPicContainer {
    width: 50%;
    text-align: center ;
    margin-bottom: -20px;
    border-color: blacks;
  }
  #topContainer{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGasX0CT_hC097dJbEiZ2bxOiLSrdXJtzjCw&usqp=CAU");
    height: 50%;  
  }
  #secondContainer {
    width: 50%;
    font-size: 20px;
  }
  #myIntroTitle {
    background-color: blueviolet;
    height: fit-content;
    width: 40%;
    margin-top: 8%;
    text-align: center;
    border-radius: 8px;
    
  }
  #video {
    text-align: center;
  }